body{
background-color:#123455;	
}
.mainDiv{
background-color:#f4f4f4;
border-radius: 6px;
margin-top:80px;
padding:20px;
text-align:center;
}
.loginHereBtn{
	width:100%;
}

.logoImage{	
	margin-left:150px;
}

.divline{
	height: 400px;
	border: 0.3px;
	border-right: 0.3px solid #a9a9a9;
	color: #a9a9a9;
	opacity: 0.3;
}
.loginModalDialog{
	text-align:center;
	margin-top:12%;
	
}
.modalName{
	font-size:150%;
}
.loginModalFooter{
	text-align:center;
}
.inputGrpStyle{
	width:80%;
	height:10%;
	margin-bottom:20px;
	margin-left:10%;
	margin-right:10%;
}
.inputStyle{
	width:80%;
	height:40px;
	margin-bottom:20px;	
}
.loginBtn{
	width:50%;
	height:40px;
	font-size:120%;
}
.invalidMessage{
	color: red;
	text-align:center;
	font-size: 18px;
}